@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Great+Vibes&display=swap');

body {
    margin: 0;
    background: black;
    font-family: 'Share Tech Mono', monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00ff41;
}

.instruction-frame {
    width: 70vw;
    max-width: 800px;
    padding: 60px;
    border: 3px solid #00ff41;
    box-shadow:
        0 0 25px #00ff41,
        inset 0 0 15px #00ff41;
}

.instruction-area {
    min-height: 300px;
    line-height: 1.8;
    font-size: 18px;
}

.line {
    margin-bottom: 8px;
}

.hidden {
    display: none;
}

.terminal-btn {
    margin-top: 40px;
    padding: 12px 30px;
    background: black;
    border: 2px solid #00ff41;
    color: #00ff41;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: 0 0 15px #00ff41;
    transition: 0.3s ease;
}

.terminal-btn:hover {
    background: #00ff41;
    color: black;
}

/* Angels cursive */
.cursive {
    font-family: 'Great Vibes', cursive;
    font-size: 22px;
}
.glow-strong {
    text-shadow:
        0 0 8px currentColor,
        0 0 16px currentColor,
        0 0 24px currentColor;
}

